%head
  = javascript_include_tag 'game.js'
#result
  :javascript
    if (localStorage.getItem('score') === null){
    window.location = "/games/top";
    }else{
    document.write('score: '+ localStorage.getItem('score'));
    };
  %button{"data-modal": "delete-item", "data-open": "modal", class: "play_game"}
    = link_to 'トップへ', root_path, class: "top_btn",data: {"turbolinks"=>false}
#now_score
  = form_for @game do |f|
    %h3
      ランクイン！
    %span your name(5文字以内)
    .nameForm
      %label.nameBox
        = f.text_field :name, :class => "text_area",:placeholder => "名前を入力", :rows => "10"
      = f.hidden_field :score
      %input{:type => "submit", :value => "決定", :class => "name_btn"}/
.ranking_box
  .ranking
    ランキング
    -num = 1
    -@ranking.each do |ranking|
      -if num == 1
        .no1
          %i.fa.fa-trophy{"aria-hidden" => "true"}
      -if num == 2
        .no2
          %i.fa.fa-trophy{"aria-hidden" => "true"}
      -if num == 3
        .no3
          %i.fa.fa-trophy{"aria-hidden" => "true"}
      .rank
        No.
        = num
        = ranking.name  
        score:
        = ranking.score
      -num += 1
      -break if num == 11