結果
#score
  :javascript
    if (localStorage.getItem('score') === null){
      window.location = "/games/top";
    }else{
      document.write('score: '+ localStorage.getItem('score'));};
.now_score
  今回のスコア
  = @score
  今回のスコア
  = @score2
  -if Game.count < 10 or @score > @rankInScore.score
    = form_for @game do |f|
      %h3
        ランクイン！
      %span your name
      = f.text_field :name, :class => "text_area",:placeholder => "名前を入力してください", :rows => "10"
      = f.hidden_field :score, :value => @score
      %input{:type => "submit", :value => "決定", :class => "name_btn"}/
  -else