.main
  .top_image
    = image_tag "/assets/mogura.png", alt: "", class: "mogura_image"
    .discription
      #h1
        ルール説明
      .game_discription
        プレイボタンでゲームスタート
        %br 
        ランダムに出てくるもぐらを叩こう！
        %br
        制限時間は20秒！
        %br
        入賞目指して叩きまくれ
  .game_play_btn
    %button{"data-modal": "delete-item", "data-open": "modal", class: "play_game"}
      = link_to 'プレイ！', games_index_path, class: "play_btn",data: {"turbolinks"=>false}
  .ranking_box
    .ranking
      ランキング
      -num = 1
      -@ranking.each do |ranking|
        -if num == 1
          .no1
            %i.fa.fa-trophy{"aria-hidden" => "true"}
        -if num == 2
          .no2
            %i.fa.fa-trophy{"aria-hidden" => "true"}
        -if num == 3
          .no3
            %i.fa.fa-trophy{"aria-hidden" => "true"}
        .rank
          No.
          = num
          = ranking.name  
          score:
          = ranking.score
        -num += 1
        -break if num== 11